body {
background-image: url(https://avatars.mds.yandex.net/i?id=5e5354a8922d1ad1260b01c12c358ae3_l-5420434-images-thumbs&n=13);
 background-size: 1500px;
background-attachment: fixed;
} 
h1 {
 padding: 10px 15px 15px;
 margin: 5px 0 20px 10px;
 color: #fff;
 font-size: 60px;
}
p {
 padding: 10px 15px;
 margin: 3% 45% 0 3%;
 background-color: #fefefe;
 color: #111111;
 font-size: 20px;
}